.Title {
    position: relative;
    left: 130px;
    top: -80px;
    color: blue;
    margin-bottom: -70px;
}

.BlueRectangle {
    position: relative;
    height: 20px;
    width: 40%;
    padding: 6px;
    left: 20px;
    top: 20px;
    background: blue;
    color: blanchedalmond;
    font-size: 20px;
    z-index: 1;
}

.LightBlueRectangle {
    position: relative;
    width: 97%;
    padding: 15px;
    padding-top: 25px;
    background: rgb(102, 255, 255);
    margin-right: 30px auto;
}

.leftSeparation {
    position: relative;
    margin-left: 1%;
    left: 1px;
}

.leftSeparationBox {
    position: relative;
    margin-left: 1%;
    left: -18px;
}

.leftSeparationZone {
    position: relative;
    left: 90px;
    margin-left: 1%;
    top: -35px;
    margin-bottom: -30px;
}

.Cursive {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}